name: Print workflow info

on:
  workflow_run:
    workflows: ["Print push info"]
    types:
      - completed

jobs:
  info:
    runs-on: ubuntu-latest
    env:
      RUN_URL: ${{ github.event.workflow_run.html_url }}
      TRIGGER_URL: >-
        ${{
          github.event.workflow_run.event == 'pull_request' &&
          github.event.workflow_run.pull_requests[0].html_url ||
          format('{0}/commit/{1}',
                 github.event.workflow_run.repository.html_url,
                 github.event.workflow_run.head_sha)
        }}
      GITHUB_CONTEXT: ${{ toJson(github) }}
    steps:
      - name: "Report"
        run: |
          echo "Run URL: $RUN_URL"
          echo "Trigger URL: $TRIGGER_URL"
          echo
          echo "$GITHUB_CONTEXT"
